<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="pragma" content="no-cache"/>
    <meta http-equiv="EXPIRES" content="01 Jan 1970 00:00:00 GMT"/>
    <meta name="author" content="IT House" />
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />

    <title><%=Lolita.config.system(:cms_title)%></title>

    <%= javascript_tag "var AUTH_TOKEN = #{form_authenticity_token.inspect};" if protect_against_forgery? %>

    <%= stylesheet_link_tag '/lolita/stylesheets/admin/default',
      '/lolita/stylesheets/cms',
      '/lolita/stylesheets/admin/user',
      '/lolita/stylesheets/media',
      '/lolita/stylesheets/picture',
      '/lolita/stylesheets/admin/menu',
      '/lolita/stylesheets/admin/current',
      '/lolita/stylesheets/mbContainer',
      '/lolita/stylesheets/admin/image.cropper.css'
    %>
    <%#= stylesheet_link_tag '/lolita/javascripts/swfupload/swfupload', :media => 'screen' %>

    <link rel="stylesheet" type="text/css" media="screen" href="/lolita/javascripts/yui/build/assets/skins/sam/container.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="/lolita/javascripts/yui/build/autocomplete/assets/skins/sam/autocomplete.css" />

    <%= javascript_include_tag "/lolita/javascripts/cms/ith.js" %>
    <%= javascript_include_tag '/lolita/javascripts/jquery/jquery-1.3.2.min.js' %>
    <%= javascript_include_tag '/lolita/javascripts/swfobject.js' %>
    <%= javascript_include_tag '/lolita/javascripts/jquery/jquery.uploadify.v2.1.0.js' %>
    <script type="text/javascript">
      // routes to use in JS
      ITH.urls = {
        init_translations_admin_menus_path: '<%= init_translations_admin_menus_path %>',
        init_menus_admin_menus_path: '<%= init_menus_admin_menus_path %>',
        add_content_admin_menus_path: '<%= add_content_admin_menus_path %>',
        remove_content_admin_menus_path: '<%= remove_content_admin_menus_path %>',
        get_updated_items_admin_menus_path: '<%= get_updated_items_admin_menus_path %>',
        toggle_published_admin_menus_path: '<%= toggle_published_admin_menus_path %>',
        refresh_admin_menus_path: '<%= refresh_admin_menus_path %>',
        save_full_tree_admin_menus_path: '<%= save_full_tree_admin_menus_path %>',
        admin_menu_items_path: '<%= admin_menu_items_path %>',
        new_admin_menu_item_path: '<%= new_admin_menu_item_path %>'
      };
    </script>    

    <%= javascript_include_tag '/lolita/javascripts/jquery/mbContainer1.0.1/ui.core.min.js' %>
    <%= javascript_include_tag '/lolita/javascripts/jquery/mbContainer1.0.1/ui.draggable.min.js' %>
    <%= javascript_include_tag '/lolita/javascripts/jquery/mbContainer1.0.1/ui.resizable.min.js' %>
    <%= javascript_include_tag '/lolita/javascripts/jquery/mbContainer1.0.1/mbContainer.min.js' %>
    
    <%= javascript_include_tag '/lolita/javascripts/yui/build/yahoo/yahoo-min.js' %>
    <%= javascript_include_tag '/lolita/javascripts/yui/build/utilities/utilities.js' %>
    <%= javascript_include_tag '/lolita/javascripts/yui/build/event/event-min.js' %>
    <%= javascript_include_tag '/lolita/javascripts/yui/build/connection/connection-min.js' %>
    <%= javascript_include_tag '/lolita/javascripts/yui/build/dom/dom-min.js' %>
    <%= javascript_include_tag '/lolita/javascripts/yui/build/dragdrop/dragdrop-min.js' %>
    <%= javascript_include_tag '/lolita/javascripts/yui/build/datasource/datasource-min.js' %>
    <%= javascript_include_tag '/lolita/javascripts/yui/build/autocomplete/autocomplete-min.js' %>
    <%= javascript_include_tag '/lolita/javascripts/yui/build/animation/animation-min.js' %>
    <%= javascript_include_tag '/lolita/javascripts/yui/build/container/container-min.js' %>
    <%= javascript_include_tag '/lolita/javascripts/cms/dom_load.js' %>
    <%= javascript_include_tag '/lolita/javascripts/cms/object_functions.js' %>
    <%= javascript_include_tag '/lolita/javascripts/cms/simple_functions.js' %>
    <%= javascript_include_tag '/lolita/javascripts/cms/content_map.js' %>
    <%= javascript_include_tag '/lolita/javascripts/cms/simple_tree.js' %>
    <%= javascript_include_tag '/lolita/javascripts/cms/menu_trees.js' %>
    <%= javascript_include_tag '/lolita/javascripts/cms/managed_form.js' %>
    <%= javascript_include_tag '/lolita/javascripts/application.js' %>
    <%= javascript_include_tag '/lolita/javascripts/filter.js' %>
    <%= javascript_include_tag '/lolita/javascripts/tiny_mce/tiny_mce.js' %>
    <%= include_google_map_js %>
  </head>
  <body class=" yui-skin-sam">
    <div id="dynamic_notice" style="display:none;position:fixed;border:1px solid gray;border-top:none;background-color:yellow;width:250px;"></div>
    <div id="body" >
      <%= render :partial=>"cms/header" %>
      <div class="bigbox" id="content">
        <div id="flash"></div>
        <%= yield  %>
      </div>
      <%= render :partial=>"admin/menu/containers" %>
      <%= render :partial=>"cms/footer" %>
    </div>
    <%= render :partial=>"cms/dialogs" %>
    <div id="script"></div>
    <% session[:locale]=params[:locale] || Admin::Language.find_base_language.short_name %>
  </body>
</html>